{:paths   ["src" "resources"]
 :deps    {metosin/reitit           {:mvn/version "0.7.1"}
           com.hyperfiddle/electric {:mvn/version "v2-alpha-540-ga4699532"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
