{:paths   ["src"]

 :aliases {:backend  {:extra-deps
                      {org.clojure/clojure              {:mvn/version "1.11.1"}

                       ; Bases
                       com.lambdaseq.stack/bootstrap    {:local/root "../../bases/bootstrap"}
                       com.lambdaseq.stack/protocols    {:local/root "../../components/protocols"}
                       com.lambdaseq.stack/repl         {:local/root "../../bases/repl"}
                       ; Components
                       com.lambdaseq.stack/system       {:local/root "../../components/system"}
                       com.lambdaseq.stack/config       {:local/root "../../components/config-aero"}
                       com.lambdaseq.stack/http-handler {:local/root "../../components/http-handler-reitit"}
                       com.lambdaseq.stack/http-server  {:local/root "../../components/http-server-jetty"}
                       #_#_com.lambdaseq.stack/http-router  {:local/root "../../components/http-router-reitit"}}}
           :frontend {:extra-deps {}}
           :dev      {:extra-paths ["resources/dev"]
                      :extra-deps  {hashp/hashp {:mvn/version "0.2.1"}}}
           :test     {:extra-paths []
                      :extra-deps  {}}}}
