{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:dev {:extra-paths ["resources/dev"]
                 :extra-deps  {hashp/hashp {:mvn/version "0.2.1"}}}
           :test {:extra-paths []
                  :extra-deps  {}}}}
