{:paths   ["src"]

 :aliases {:backend  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}
           :frontend {:extra-deps {}}
           :dev      {:extra-paths ["resources/dev"]
                      :extra-deps  {hashp/hashp {:mvn/version "0.2.1"}}}
           :test     {:extra-paths []
                      :extra-deps  {}}}}
