{:paths   ["src" "resources"]
 :deps    {nilenso/mailgun {:mvn/version "0.2.3"}
          com.stuartsierra/component {:mvn/version "1.1.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
