{:paths   ["src" "resources"]
 :deps    {com.lambdaseq.stack/repl   {:local/root "../repl"}
           com.lambdaseq.stack/system {:local/root "../../components/system"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
